
.navContainer {
  top:0px;
  overflow:hidden;
  background-color:#09689E; 
  margin-bottom:32px;
  width:100%; 
  color:white; 
}

nav a {
  float:right;
  text-decoration:none;
  color:white;
  font-size:18px; 
  padding: 20px 30px; 
  transition: all 0.5s ease 0s;
}

nav a:hover{
  background-color:#002e5b; 
  color:wheat; 
  border-radius: 3px;
}

nav{
  margin-right:10%;
}

.logo {
  font-size:20px;  
  font-weight:bold;
  float:left;
  padding: 15px 15px;
  margin-left: 10%;
}