.roundSliderContainer {
  width:62px;
  height: 26px;
  background: #4b3cc1;
  border-radius: 50px;
  cursor:pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  color: white;
  font-weight: bold;
}

.roundSlider{
  width: 25px;
  height:22px;
  border-radius: 50%;
  background: #fff;
  top:2px;
  left: 2px;
  position:absolute;
}

#checkboxInput {
  display: none;
}

#checkboxInput:checked + .roundSliderContainer .roundSlider {
  transform: translateX(32px);
}